---
import "../styles/global.css";
---

<!-- HEADER -->
<main>
  <section>
    <div class="container">
      <div id="contact-details">
        <div class="details-box flex items-center gap-4">
          <!-- Icon with background -->
          <div
            class="w-16 h-16 bg-primary flex items-center justify-center rounded"
          >
            <img
              class="w-8 h-8 object-contain"
              src="/images/pin.svg"
              alt="Map icon"
            />
          </div>

          <!-- Text -->
          <div class="inner-details">
            <h3 class="text-primary font-semibold">Our Location</h3>
            <p>500 South Capitol Avenue, Indianapolis, IN 46225</p>
          </div>
        </div>
      </div>
      <div id="form"></div>
    </div>
  </section>
</main>
<!-- FOOTER -->

<!-- /THIS IS SOOO ANOYING FUCJ YOU -->
